html{
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
    background-color: #fafafa;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #ffffff;
    max-width: 16rem;
    height: 250px;
    margin-right: auto;
    margin-left: auto;
    border: 2px 2px 2px 2px;
    border-width: 2px;
    border-style: solid;
    border-color: #ececec;
    border-radius: 5px;
    max-width: 22rem;
    padding: 2rem;
    margin-right: auto;
    margin-left: auto;
    /* border-color: black; */
}
.container{
    max-width: 16rem;
    /* background-color: #303030; */
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.Button{
    /* border-color: black;
    border-width: 5px; */
    border-left: 0px;
    font-size: 20px;
    background-color: #ffffff;
}

.a, .b, .c, .g, .i{
    border-top: 0px;
}
.a, .b, .c, .i{
    margin-top: 2rem;
}
.f{
    border-right: 0px;
}
.g, .h, .i{
    border-bottom: 0px;
}
.c, .i{
    border-right: 0px;
}
.d, .e, .f, .h{
    border-top: 0px;
}

.header{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.h1{
    background-color: blue;
    border-radius: 100%;
    /* padding: .25rem; */
    /* border-style: solid; */
    border-width: 0px;
    height: 4rem;
    width: 4rem;
    text-align: center;
    font-size: 70px;
    margin-right: auto;
    margin-left: auto;
    color: #ffffff;
}

@media screen and (min-width: 30em) {
    .header{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    
}